.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main {
    flex: 1;
}

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
}
/* Track */
::-webkit-scrollbar-track {
    background: none;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 30px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.poster {
    cursor: pointer;
    transition: .2s ease-in;
}

.poster:hover {
    border-radius: 15px;
    filter: blur(3px) brightness(30%);
}

.poster:hover + .text-on-image {
    opacity: 1;
}

.text-on-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 28px;
    color: white;
    font-weight: bold;
    opacity: 0;
    transition: .2s;
    pointer-events: none;
}


/* CSSTransition: */

.film-enter {
    opacity: 0;
}
.film-enter-active {
    opacity: 1;
    transition: opacity 300ms ease-in;
}
.film-exit {
    opacity: 1;
}
.film-exit-active {
    opacity: 0;
    transition: opacity 300ms ease-in;
}