.biography {
    max-height: 300px;
    overflow: hidden;
}

.filmography {
    padding: 5px 0;
    margin-bottom: 25px;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
}

.film-row {
    display: flex;
    padding: 8px 25px;
}

.film-row:nth-child(even) {
    background: rgb(230,230,230);
}

.gradient {
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, transparent 0%, transparent 80%, white 100%);
}